*{
    margin: 0 auto;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body{
    background-color: #162831;
}
header{
    background-color: purple;
    width: 67.5%;
    height: 60px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-logo{
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
}
.navbar-menu{
    width: 655px;
    height: 19px;
}
.navbar-menu ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
.navbar-menu a{
    color: white;
    font-size: 14px;
}
.navbar-button-block{
    margin: 0;
    padding: 0;
}
.navbar-button{
    width: 155px;
    height: 36px;
}